[bumpversion]
current_version = 0.2.1
commit = True
tag = False

[bumpversion:file:build.clj]
search = def version "{current_version}"
replace = def version "{new_version}"

[bumpversion:file:src/mncmd/core.clj]
search = :version     "{current_version}"
replace = :version     "{new_version}"

[bumpversion:file:native-build/build.sh]
search = ./target/mncmd-{current_version}-standalone.jar
replace = ./target/mncmd-{new_version}-standalone.jar

[bumpversion:file:native-build/generate-resource-files.sh]
search = ./target/mncmd-{current_version}-standalone.jar
replace = ./target/mncmd-{new_version}-standalone.jar
